.float-left{
  float: left;
}

.nav-tabs {
  margin-bottom: 0;
}
code{
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  background-color:
  rgba(27,31,35,.05);
  border-radius: 3px;
}
.list-item-row{
  text-align:left;
}
.font-size-16{
  font-size: 16px !important;
}
.font-size-12{
  font-size: 12px !important;
}
