.float-left{
  float: left;
}

.nav-tabs {
  margin-bottom: 0;
}
code{
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  background-color:
  rgba(27,31,35,.05);
  border-radius: 3px;
}
.list-item-row{
  text-align:left;
}
.font-size-16{
  font-size: 16px !important;
}
.font-size-12{
  font-size: 12px !important;
}
.type-radios{
  display: block !important;
}
.search-git-control{
  margin-top: 40px;
}
.nothing-to-show{
  font-weight: bold;
  margin-top: 10%;
}
.spinner{
  margin-top: 5%;
}
.hide{
  display: none;
}
.show{
  display: block;
}
.margin-top-40{
  margin-top: 40px;
}
.margin-top-20{
  margin-top: 20px;
}
.issue-title{
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.125;
}
.issue-number{
  font-weight: 300;
  color: #6a737d;
  word-wrap: break-word;
  white-space: normal;
}
.openedThisIssue{
  float: left;
}
.openedThisIssue-text{
  margin-left: 10px;
  word-wrap: break-word;
  white-space: normal;
  font-size: 14px;
  color: #586069;
}
.issueDetailDesAndComments{
  margin-top:10px;
}
.text-align-left{
  text-align: left;
}
.issue-description{
  text-align: left;
  font-size: 14px;
}
.comments-filter input, .comments-filter div span.input-group-text{
  font-size:14px;
}
.title-and-number{
  text-align: left;
  float: left;
}
.bg-pale-blue {
  background-color: #d0e5fa;
}
